@model TwentyFirst.Common.Models.Articles.ArticleEditInputModel

@{
    ViewData["Title"] = "Редактирай новина";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<hr />

<form asp-action="Edit" method="post">
    <input asp-for="Image.Id" class="image-id" type="hidden" />
    <input asp-for="Image.ThumbUrl" class="image-url" type="hidden" />
    <div class="row h5">
        <div class="col-md-8">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lead" class="control-label"></label>
                <input asp-for="Lead" class="form-control" />
                <span asp-validation-for="Lead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="20"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4">
            <div class="container">
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="checkbox checbox-switch switch-primary">
                            <label>
                                <input type="checkbox" asp-for="IsTop" />
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-8">@Html.DisplayNameFor(model => model.IsTop)</div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="checkbox checbox-switch switch-primary">
                            <label>
                                <input type="checkbox" asp-for="IsImportant" />
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-8">@Html.DisplayNameFor(model => model.IsImportant)</div>
                </div>
            </div>

            <!-- Categories drоpdown component-->
            @await Component.InvokeAsync("categories-add", Model.CategoriesIds)

            <!-- Connected articles drоpdown component-->
            @await Component.InvokeAsync("connected-articles", Model.ConnectedArticlesIds)

            <!-- Large modal for images search-->
            <div class="row my-4">
                <button type="button" class="btn btn-lg upload-btn w-50 mx-auto" data-toggle="modal" data-target=".bd-example-modal-lg">
                    Избери снимка
                </button>

                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <partial name="_ImageSearchInputPartial" />
                        </div>
                    </div>
                </div>
            </div>

            <p id="show-image">
                <img src="@Model.Image?.ThumbUrl" />
            </p>
        </div>

        <div class="fixed-bottom bg-dark">
            <div class="form-group w-25 mx-auto my-1">
                <input type="submit" value="Запази" class="btn btn-lg btn-admin-twenty-first text-light" />
                <a asp-action="Index" class="btn btn-lg btn-secondary">Излез</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/jquery.dropdown.js"></script>
    <script src="~/js/image.search.js"></script>
}
