@{
    ViewData["Title"] = "Успешно изпращане на новини";
}

<div class="container p-5 bg-admin-twenty-first">
    <div class="container my-5 p-5 w-50 mx-auto rounded bg-white">
        <h2 class="text-center">Изпращането на важни новини до абонираните потребители премина успешно</h2>
    </div>
</div>