@page
@model LockModel
@{
    ViewData["Title"] = "Заклюване на акаунт";
}

<div class="container">
    <hr />
    <h4 class="text-center text-danger">Наистина ли искате да заключите акаунта на @Model.UserToLock.Username?</h4>
    <form method="post" asp-route-userId="@Model.UserToLock.Id">
        <div class="row justify-content-center my-5">
            <button type="submit" class="btn btn-danger text-white w-50 mx-auto">Заключи</button>
        </div>
    </form>
</div>
