<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext) w-100 my-1">
        <a asp-page="./Index" class="btn btn-admin-twenty-first text-white w-100">Основни настройки</a>
    </li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) w-100 my-1">
        <a id="change-password" asp-page="./ChangePassword" class="btn btn-admin-twenty-first text-white w-100">Смяна на парола</a>
    </li>
</ul>
