@model TwentyFirst.Common.Models.Images.ImagesCreateInputModel

@{
    ViewData["Title"] = "Снимки";
}

<h2>@ViewData["Title"]</h2>
<hr />
<partial name="_ImageSearchInputPartial" />

@section Scripts {
  <script src="~/js/image.search.js"></script>
}
