@if (TempData.ContainsKey(nameof(AlertMessage)))
{
    var alertMessage = this.TempData[nameof(AlertMessage)] as AlertMessage;

    <div class="alert @alertMessage?.MessageLevelToShow alert-dismissible fade show" role="alert">
        @alertMessage?.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

