<div class="row my-4">
    <button type="button" class="btn btn-lg upload-btn w-50 mx-auto" data-toggle="modal" data-target=".bd-example-modal-lg">
        Избери снимка
    </button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="input-group m-0">
                    <input class="form-control search-term" placeholder="Търси снимки">
                    <div class="input-group-prepend bg-admin-twenty-first rounded">
                        <label for="search-button">
                            <span class="input-group-text bg-admin-twenty-first border-0">
                                <a id="search-button" class="btn bg-admin-twenty-first text-light">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </label>
                    </div>
                </div>
                <p id="results-table"></p>
            </div>
        </div>
    </div>
</div>