@{
    ViewData["Title"] = "Контакти";
}

<div class="container sides section-padding-100">
    <div class="container w-50 mx-auto bg-white p-3">
        <h2 class="text-center">Свържете се с 21st</h2>

        <div class="address w-50 mx-auto py-3">
            <h6><strong>Адрес:</strong> </h6>
            <h6>21st ГРУП</h6>
            <h6>бул. "Асп. Нет Кор" 22</h6>
            <h6>София 1000</h6>
            <h6 class="fa fa-phone"> + 359 555-55-55-55</h6>
        </div>

        <div class="w-50 mx-auto py-3">
            <h6><strong>Централа:</strong> </h6>
            <h6 class="fa fa-phone"> + 359 555-55-55-55</h6>
            <a href="mailto:support@twenty.first.bg"><p>support@twenty.first.bg</p></a>
        </div>

        <div class="w-50 mx-auto py-3">
            <h6><strong>Отдел "Новини":</strong> </h6>
            <h6 class="fa fa-phone"> + 359 555-55-55-54</h6>
            <a href="mailto:novinite@twenty.first.bg"><p>novinite@twenty.first.bg</p></a>
        </div>

        <div class="w-50 mx-auto py-3">
            <h6><strong>Отдел "Продажби":</strong> </h6>
            <h6 class="fa fa-phone"> + 359 555-55-55-53</h6>
            <a href="mailto:sales@twenty.first.bg"><p>sales@twenty.first.bg</p></a>
        </div>

        <div class="w-50 mx-auto py-3">
            <h6><strong>Отдел "Връзки с обществеността"</strong></h6>
            <h6 class="fa fa-phone"> + 359 555-55-55-52</h6>
            <a href="mailto:pr@twenty.first.bg"><p>pr@twenty.first.bg</p></a>
        </div>
    </div>
</div>