@{
    ViewData["Title"] = "Home Page";
}

@await Component.InvokeAsync("top-articles")

<div class="main-content-wrapper section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <!-- ============= Articles Content Area Start ============= -->
                <div class="post-content-area mb-50">
                    <div class="world-catagory-area">
                        @await Component.InvokeAsync("categories")

                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active">
                                @await Component.InvokeAsync("latest-articles")
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ============= Interviews Content Area Start ============= -->
                <div class="post-content-area mb-50 py-3">
                    <div class="world-catagory-area">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                            <li class="title">Интервюта</li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Interviews" asp-action="Index">Всички</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent2">
                            <div class="tab-pane fade show active">
                                @await Component.InvokeAsync("latest-interviews")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== Sidebar Area ========== -->
            <div class="col-12 col-md-8 col-lg-4">
                <partial name="_SidebarPartial" />
            </div>
        </div>
    </div>
</div>