@{
    ViewData["Title"] = "Бисквитки";
}

<div class="container sides section-padding-100">
    <div class="container w-50 mx-auto bg-white p-3">
        <h2 class="text-center">Бисквитки</h2>
        <p>
            HTTP бисквитката е пакет информация, изпратен от уеб сървър към Интернет браузър, а след това връщан от браузъра всеки път,
            когато той получи достъп до този сървър. „Бисквитките“ могат да съдържат произволна информация, избрана от сървъра,
            и се използват да поддържат състоянието на HTTP транзакциите, които иначе са „без състояние“.
            Обикновено те се използват за удостоверяване на самоличността на регистриран потребител на даден уебсайт като част от процеса на влизане
            или първоначална регистрация в сайта, като от потребителя не се изисква ново въвеждане на потребителско име и парола при всеки следващ достъп до този сайт.
            Други използват бисквитките за поддържане на „пазарска кошница“ за избрани стоки за купуване от даден сайт по време на една сесия,
            за персонализация на сайт (представяне на различни страници за различните потребители), и за проследяване на достъпа на отделни потребители до даден сайт.
        </p>
    </div>
</div>