    <!-- ***** Footer Area Start ***** -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="footer-single-widget col-12 col-md-4 col-lg-4">
                        <ul class="footer-menu">
                            <li><a class="text-light"  asp-area="" asp-controller="Home" asp-action="Contact">Свържете се с <img src="~/images/logo.png" alt="Logo"></a></li>
                        </ul>
                    </div>
                    <div class="footer-single-widget col-12 col-md-8 col-lg-8">
                        <ul class="footer-menu">
                            <li><a class="nav-link text-light" asp-area="" asp-controller="Articles" asp-action="Index">Новини</a></li>
                            <li><a class="nav-link text-light" asp-area="" asp-controller="Interviews" asp-action="Index">Интервюта</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <partial name="_SubscribePartial" />
        </div>
        <div class="footer-single-widget">
            <div class="copywrite-text mt-30 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>