<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title  -->
    <title>@ViewData["Title"] - 21st</title>

    <!-- Favicon  -->
    <link rel="icon" href="~/favicon.ico">

    <!-- styles CSS -->
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/css/reset-css.css" />
        <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="~/css/twentyFirstStyle.css" />
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
        <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              asp-fallback-href="~/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg background-overlay">
                        <!-- Logo -->
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="Logo"></a>
                        <!-- Navbar Toggler -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#worldNav" aria-controls="worldNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <!-- Navbar -->
                        <div class="collapse navbar-collapse" id="worldNav">
                            <partial name="_LoginPartial" />
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Articles" asp-action="Index">Новини</a></li>
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Interviews" asp-action="Index">Интервюта</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Area Start -->
    <div class="sides">
        <div class="container main p-0">
            <partial name="_CookieConsentPartial" />
            @RenderBody()
        </div>
    </div>

    <!-- Footer Area Start -->
    <partial name="_FooterPartial" />

    <!-- jQuery -->
    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/js/plugins.js"></script>
    <!-- Active js -->
    <script src="~/js/active.js"></script>
    <!-- Weather js -->
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
