@if (this.User.Identity.IsAuthenticated)
{
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white font-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">АДМИН</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-area="Administration" asp-controller="Articles" asp-action="Index">Новини</a>
                <a class="dropdown-item" asp-area="Administration" asp-controller="Articles" asp-action="Create">Добави новина</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="Administration" asp-controller="Interviews" asp-action="Index">Интервюта</a>
                <a class="dropdown-item" asp-area="Administration" asp-controller="Interviews" asp-action="Create">Добави интервю</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="Administration" asp-controller="Images" asp-action="Upload">Добави снимки</a>
            </div>
        </li>
    </ul>
}