<!-- Widget Area -->
<div class="post-sidebar-area">
    <div class="sidebar-widget-area">
        <h5 class="title"></h5>
        <div class="widget-content">
            <div class="row mb-5">
                <img class="img-responsive" src="~/images/logo.png" />
                <h5 class="text-muted">&emsp;в социалните мрежи</h5>
            </div>
            <div class="social-area d-flex justify-content-between">
                <a target="_blank" href="https://www.facebook.com/SoftwareUniversity/?__tn__=kC-R&eid=ARBSL-n0V04t9OWxh9fwmGEjHkxPKM3HjDG_DNWv08QQiaPgRLX7imr9_bCuOvqi6UzgvztVv-nuycmj&hc_ref=ARTKFoAdSLt4d1Fi4nCfJBMnaT42Y0dJN3urqVn_NM--qL2lfeXybr-qsq232_Llz8M&fref=nf&__xts__[0]=68.ARDlaqOmWkqLAGpjrZb8YGSSEHTne0z5lbKgtWrdHtK5cP8dmLD1GzkfyIILzKAy6Uy_vHcfsFpQUhtG6RCrpCJz5w4ZwZ5YarDHXmP6rSw75Xfq8ihbtbxHvoGz7ROHH6RzRG0u3-Uu45ff_763PYIv-LGxCdtHwNA_35tCheKDUCc5Of2q_2pQxtRu39jANKlQiWnH-JAHgL5utfgLJ5jyjk-2pTFPwm3f2MYmXn7XtY6-q8VZ0dXC7uUDFjJrQp1tOlFmlDlPeJyJ8D-qxSKbgzqedZSe7gmXz2KBtsXnS579mCSeTZKKoz9fguMS1Aox3pXOYDyEE7xspcfx8Ao16vupExZA7AzxSOj8z8IJs7huaG-veNc"><i class="fa fa-facebook"></i></a>
                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                <a target="_blank" href="#"><i class="fa fa-pinterest"></i></a>
                <a target="_blank" href="#"><i class="fa fa-vimeo"></i></a>
                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                <a target="_blank" href="#"><i class="fa fa-google"></i></a>
            </div>
        </div>
    </div>
</div>
