<div class="post-sidebar-area">
    <div class="sidebar-widget-area">
        <h5 class="title"></h5>
        <h5 class="title">Времето в <span id="location"></span></h5>
        <div class="widget-content">
            <div id="imgdiv">
                <img id="img" src="" />
                <p class="d-inline">В момента е <span id="temp"> </span>&#176;C, <span id="desc"> </span></p>
            </div>
        </div>
    </div>
</div>
