@{
    ViewData["Title"] = "Отказ от абонамент";
}

<div class="container p-5 bg-admin-twenty-first">
    <div class="container my-5 p-5 w-50 mx-auto rounded bg-white">
        <h2 class="text-center">Отказахте се от абонамента си</h2>
        <p class="text-center">Вече няма да получавате актуално съдържание от 21st по имейл</p>
        <div class="btn-group-lg my-3 w-75 mx-auto">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-admin-twenty-first text-white">Към 21st</a>
        </div>
    </div>
</div>